.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form--option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: 2px solid #979ddd;
  background-color: #4a4a7326;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  cursor: default;
}

.form--option-container span {
  font-size: 1.25em;
}

.form--input-container {
  display: flex;
  gap: 10px;
}

.form--input-container input {
  height: 36px;
  font-size: 1.1em;
  padding: 5px;
}