.sleep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.sleep--text {
  font-size: 1.5em;
  margin: 0 20px;
  cursor: default;
}

.sleep--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 10px;
  max-width: 700px;
}

.sleep--list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: 2px solid #979ddd;
  background-color: #4a4a7326;
  border-radius: 5px;
  padding: 10px 10px;
  min-width: 164px;
  min-height: 104px;
  cursor: default;
}

.sleep--cycle-time {
  font-size: 1.75em;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid #979ddd;
}

.sleep--cycle-count {
  font-size: 1.2em;
}

.sleep--cycle-1 {
  color: #ffa2a2;
}

.sleep--cycle-2 {
  color: #FFBCA2;
}

.sleep--cycle-3 {
  color: #ffd7a2;
}

.sleep--cycle-4 {
  color: #ffffa2;
}

.sleep--cycle-5 {
  color: #C7F1A0;
}

.sleep--cycle-6 {
  color: #91e5a0;
}