.sleep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.sleep--text {
  font-size: 1.5em;
  margin: 0 20px;
}

.sleep--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 10px;
  max-width: 700px;
}

.sleep--list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: 2px solid #979ddd;
  border-radius: 5px;
  padding: 10px 10px;
  min-width: 164px;
  min-height: 104px;
}

.sleep--cycle-time {
  font-size: 1.75em;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid #979ddd;
}

.sleep--cycle-count {
  font-size: 1.2em;
}

.sleep--cycle-1 {
  color: #fca5a5;
}

.sleep--cycle-2 {
  color: #fdba74;
}

.sleep--cycle-3 {
  color: #fde68a;
}

.sleep--cycle-4 {
  color: #fef08a;
}

.sleep--cycle-5 {
  color: #d9f99d;
}

.sleep--cycle-6 {
  color: #86efac;
}