.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.App--header {
  font-size: 2.5em;
}

.App--add-sleep-time {
  font-size: 1.25em;
}

#App--sleep-checkbox {
  margin-right: 10px;
}

#App--fall-asleep-mins {
  font-size: 1.1em;
  margin: 0 10px;
  width: 50px;
}

.App--footer {
  display: flex;
  justify-content: center;
}

.github-logo {
  color: #979ddd;
  font-size: 2em;
  margin-bottom: 20px;
}